@import "../../vars.css";

.allContainer {
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(27, 9, 54, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.bigBoy {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3rem;
}

.bigBoy h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.toolContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  width: 30%;
  padding: 1.5rem 2rem;
  border: 2px solid var(--color-action);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  text-decoration: none;
}

.card .title {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-text);
  margin: 0;
}

.card .description {
  font-size: 0.9rem;
  color: var(--color-text);
}

.card a {
  text-decoration: none;
}
