@import "../../vars.css";

.container {
  width: 45%;
  margin-left: 27.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 0.2rem 2rem;
  border-radius: 50px;
  margin-top: 1rem;

  background: rgba(231, 226, 226, 0.034);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.credit {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--color-text);
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.social a {
  display: inline-block;
  transition: transform 0.25s ease-in-out;
}

.social a:hover {
  transform: scale(1.25);
}

@media screen and (max-width: 560px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .credit {
    margin-bottom: 20px;
  }
}
