@import "../../vars.css";

.container {
  text-align: left;
  width: 70%;
  margin-left: 15%;
  margin-top: 7rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0;
}

.bigFish {
  width: 100%;
  gap: 2.5rem;
  display: flex;
  margin-bottom: 3rem;
}

.bigFish button {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-top: 0.2rem;
}

.bigFish button:hover {
  background-color: grey;
  color: var(--color-bg);
  transition: 0.5s ease-in-out;
}
